@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
}

header {
    box-sizing: border-box;
    margin: 0;
    background-color: #24252A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

li, a, button, span, .header__title, .header__text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0d1;
    text-decoration: none;
}

.header__background {
    background-color: #24252A;
    display: block;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.header__introduction {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.header__title {
    color: #A7ABC2;
    font-size: 50px;
    padding-top: inherit;
    padding-left: 26%;
    padding-bottom: 2%;
}

.header__text {
    font-size: 25px;
    text-align: center;
}

#header__logo {
    position: absolute;
    font-size: 500px;
    margin-left: 50%;
    margin-top: 5%;
    color: #edf0d1;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    display: block;
    cursor: pointer;
}

#header__logo:hover {
    color: rgba(0,136,169,1);
}

#header__logo__active {
    position: absolute;
    font-size: 500px;
    margin-left: 50%;
    margin-top: 5%;
    color: #edf0d1;
    transform: translateX(60%);
    transition: transform 0.5s ease-in;
    display: block;
}

#header__logo__active:hover {
    color: rgba(0,136,169,1);
}

nav {
    display: flex;
    align-items: center;
}

#logo {
    cursor: default;
    color: rgba(0,136,169,1);
    padding-left: 9px;
    font-weight: bolder;
    font-size: 30px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    margin-left: 15px;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(0,136,169,0.8);
    margin: 5px;
}

/*Responsive de la barra de navegación*/
@media (max-width: 952px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
    #logo {
        padding-left: 0px;
    }

    .nav__links li {
        padding: 0px 7px;
    }

    button {
        padding: 5px 20px;
    }
}

@media (max-width: 876px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav__links {
        position: absolute;
        right: 0px;
        height: 300px;
        top: 65px;
        width: 50%;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
    }

    .nav__links li {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 45px;
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
        margin-right: 6vh;
    }
}

@media (max-width: 400px) {
    .cta {
        display: none;
    }
}

.nav__active {
    transform: translateX(0%);
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
