@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
}

header {
    box-sizing: border-box;
    margin: 0;
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

li, a, button, span{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0d1;
    text-decoration: none;
}

#logo {
    cursor: default;
    color: rgba(0,136,169,1);
    padding-left: 9px;
    font-weight: bolder;
    font-size: 30px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(0,136,169,0.8);
    margin: 5px;
}

/*Responsive de la barra de navegación*/
@media (max-width: 952px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
    #logo {
        padding-left: 0px;
    }

    .nav__links li {
        padding: 0px 7px;
    }

    button {
        padding: 5px 20px;
    }
}

@media (max-width: 876px) {
    body {
        overflow-x: hidden;
    }

    .nav__links {
        position: absolute;
        right: 0px;
        height: 300px;
        top: 65px;
        width: 50%;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav__links li {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 45px;
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav__active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}